# Nestjs specific
/dist
/node_modules
/.expo
/build
/tmp
*.apk
*.aab
# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production
android/local.properties
google-service-account.json

# temp directory
.temp
.tmp
